@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}


* {
    font-family: "Anuphan", sans-serif;
}

/* animation รูป bg ตรงหน้า login ให้มัน pan จากซ้ายไปขวา */
@keyframes bg-float {
    0% { background-position: 0% center; }
    100% { background-position: 100% center; }
}

.animate-bg-float {
    animation: bg-float 25s ease-in-out infinite alternate;
}